<%- include('partials/header') -%>

<div id = "title">
  Waste Classifier
</div>
<button type="button" class = "button" onclick="init()" id = "button">Start</button>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>

<div id="webcam-container">
<script type="text/javascript" src = "js/video2.js"> </script>
</div>

<div id="label-container"></div>

<%- include('partials/footer') -%>
