.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.booth {
  width: 400px;
  background: #ccc;
  border: 10px solid #ddd;
}

#webcam-container {
  width: 520px;
  background: #ccc;
  text-align: center;
  margin: auto 30px;
  margin-top: 50px;
}

body {
  background: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Minimalist-Crumpled-Paper-Simple-Background-Image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  color: #A9A9A9; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;
}

.button {
  background: #3498db;
  width: 180px;
  padding: 4px 0;

  position: absolute;
  left: 25%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;

  p {
   	font-family: 'Roboto';
	  text-align: center;
  	text-transform: uppercase;
    color: #FFF;
    user-select: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: darken(#f1c40f, 20%);
    opacity: 0.4;
    bottom: -30px;
  }
}


#label-container {
  padding-top: 30px;
  width: 600px;
  background: rgb(0,0,0,0);
  text-align: center;
  margin: auto 30px;
  color: black;
  font-size: 30px;
}

#label-container2 {
  padding-top: 60px;
  width: 600px;
  background: rgb(0,0,0,0);
  text-align: center;
  margin: auto 30px;
  color: black;
  font-size: 30px;
}

span {
  font: 2em "Museo 700";
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 35px;
}

#classification {
  float:left
}

#voice-assist {
  float:left;
  width: 500px;
  margin-left: 90px;
  margin-top: 100px;
}

#infoJSON{
  opacity: 0;
}

textarea {
  background: transparent;
  color: white;
  border: 0 none;
  font-size: 5em;
}

#responseJSON {
  color: black;
  width: 500px;
  font-size: 20px;
}
